<%- include('../partials/header') %>

    <div id="main-container">
        <h2>Profile Page</h2>
        <% if (!user) { %>
            <p>please login to continue</p>
            <% } else { %>
                <% if (user.avatar) { %>
                    <img id="profile-pic" src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
                    <% } %>
                        <% } %>
                            <br>
                            <p>Welcome, <%= user.name %>

                            </p><br>
                            <p>You are logged in at <%= user.email %><br><br>
                                    Contact Admin to change email
                            </p>
                            <br>
                            <%- include('../partials/footer') %>
    </div>