<%- include('./partials/header') %>

	<h2>Home Page</h2>

	<% if (!user) { %>
		<p>please login to continue</p>
		<% } else { %>
			<p>Welcome, <%= user.name %>
					<%= user.email %>
			</p>
			<% if (user.avatar) { %>
				<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar" />
				<% } %>
					<% } %>

						<%- include('./partials/footer') %>

							<a href="/tenants/new">ADD NEW TENANT</a>
							<a href="/profiles/">PROFILES</a>
							<tbody>
								<% tenants.forEach(function(t) { %>
									<tr>
										<ul>
											<%= t.name %>
										</ul><a href="/tenants/<%= t._id %>">DETAILS</a></td>

										<% }); %>
							</tbody>