<%- include('./partials/header') %>



    <div id="main-container">


        <div id="landing-page-container"></div>
        <h2>Current Tenants</h2>



        <% tenants.forEach(function(t) { %>


            <div id="tenant-container">

                <a href="/tenants/<%= t._id %>">
                    <div id="tenant-name">
                        <%= t.name %>

                            <!-- <img src="../<%= t.avatar %>" alt="tenant-photo" id="tenant-photos"
                                style="width:150px; height: 150px; border-radius: 40%"> -->
                </a>
            </div>
    </div>

    <% }); %>


        </div>
        <%- include('./partials/footer') %>

            <script>

            </script>