<%- include('../partials/header') %>
    <div id="main-show-page">

        <section id="show-page">
            <div id="nameLabel" class="form-items">NAME </div>
            <div id="nameField">
                <%= tenant.name %>
            </div>
            <br>
            <div id="tenant-photo-container"></div>
            <div id="tenant-photo">
                <img src="../<%= tenant.avatar %>" alt="<%= tenant.name %>"
                    style="width: 200px; height: 200px; border-radius: 40%">

            </div>

            <div class="form-items">SPECIES </div>
            <div>
                <%= tenant.species %>
            </div>

            <div class="form-items">BREED </div>
            <div>
                <%= tenant.breed %>
            </div>
            <div class="form-items">AGE </div>
            <div>
                <%= tenant.age %>
            </div>

            <div class="form-items">MEDICINE </div>
            <div>
                <%= tenant.medicine %>
            </div>

            <div class="form-items">NOTES </div>
            <div>
                <%= tenant.notes %>
            </div>


            <br>



            <div id="edit-wrapper">
                <a href="/tenants/<%= tenant._id %>/edit" id="edit-button">
                    <p>EDIT</p>
                </a>
            </div>
            <br>
            <form method="POST" action="/tenants/<%= tenant._id %>?_method=DELETE">
                <button type="submit" id="delete-button">DELETE TENANT</button>
            </form>
            </form>
        </section>
        <section id="task-log-box">
            <div class="form-items" style="color:black">TASKS </div>
            <br>
            <div>
                <% if(tenant.tasks && tenant.tasks.length> 0) { %>
                    <% tenant.tasks.forEach(function(t,index){ %>
                        <ul>

                            <div class="task-items">
                                <%= t.task %><input type="checkbox" class="task-checkbox" data-task-id="<%= index %>" <%
                                        if(t.taskComplete) { %>checked="checked"<% } %>>
                            </div>


                        </ul>
                        <% }); %>
                            <% } %>

            </div>
            <br>
            <br>
            <br>
            <br>

            <section id="log">
                <div class="form-items" style="color:black">LOG</div>
                <br>
                <ul>
                    <% tenant.tasks.forEach(function(task) { %>
                        <% if(task.taskComplete) { %>
                            <li>
                                <%= task.userName %> completed the task: <%= task.task %> at <%= new
                                            Date(task.timeCompleted).toLocaleDateString(undefined, { month: 'short' ,
                                            day: 'numeric' , year: 'numeric' }) %>
                                            at <%= new Date(task.timeCompleted).toLocaleTimeString(undefined, {
                                                hour: '2-digit' , minute: '2-digit' }) %>
                            </li>
                            <% } %>
                                <% }); %>
                </ul>
            </section>
        </section>


    </div>

    <script>
        function updateTask(tenantId, taskIndex, isChecked) {
            // Use fetch API or another AJAX method to send an update to the server
            fetch(`/tenants/${tenantId}/update-task/${taskIndex}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ taskComplete: isChecked }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Task updated successfully.');
                    } else {
                        console.error('Error updating task.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        const checkboxes = document.querySelectorAll('.task-checkbox');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function (e) {
                const taskId = e.target.getAttribute('data-task-id')
                const isChecked = e.target.checked
                updateTask('<%= tenant._id %>', taskId, isChecked);
            });
        });
    </script>
    <%- include('../partials/footer') %>