<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= tenants.name %>
        </div>
        <div>Release Year: </div>
        <div>
            <%= tenants.age %>
        </div>
        <div>Rating: </div>
        <div>
            <%= tenants.breed %>
        </div>
        <div>Now Showing: </div>
        <div>

        </div>
        <!-- start cast list -->
        <div>Cast:</div>
        <ul>

        </ul>
        <!-- end cast list -->
    </section>

    <%- include('../partials/footer') %>