<%- include('../partials/header') %>

    <section id="show-page">
        <div id="nameLabel">NAME </div>
        <div id="nameField">
            <%= tenant.name %>
        </div>

        <div>SPECIES </div>
        <div>
            <%= tenant.species %>
        </div>

        <div>BREED </div>
        <div>
            <%= tenant.breed %>
        </div>
        <div>AGE </div>
        <div>
            <%= tenant.age %>
        </div>

        <div>MEDICINE </div>
        <div>
            <%= tenant.medicine %>
        </div>

        <div>NOTES </div>
        <div>
            <%= tenant.notes %>
        </div>

        <div>TASKS </div>
        <div>
            <% if(tenant.tasks && tenant.tasks.length> 0) { %>
                <% tenant.tasks.forEach(function(t,index){ %>
                    <ul>

                        <%= t.task %><input type="checkbox" class="task-checkbox" data-task-id="<%= index %>" <%
                                if(t.taskComplete) { %>checked="checked"<% } %>>


                    </ul>
                    <% }); %>
                        <% } %>

        </div>





        <form method="POST" action="/tenants/<%= tenant._id %>?_method=DELETE">
            <button type="submit">DELETE TENANT</button>
        </form>
        <a href="/tenants/<%= tenant._id %>/edit">EDIT</a>
        </form>
    </section>

    <script>
        function updateTask(tenantId, taskIndex, isChecked) {
            // Use fetch API or another AJAX method to send an update to the server
            fetch(`/tenants/${tenantId}/update-task/${taskIndex}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ taskComplete: isChecked }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Task updated successfully.');
                    } else {
                        console.error('Error updating task.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        const checkboxes = document.querySelectorAll('.task-checkbox');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function (e) {
                const taskId = e.target.getAttribute('data-task-id')
                const isChecked = e.target.checked
                updateTask('<%= tenant._id %>', taskId, isChecked);
            });
        });
    </script>
    <%- include('../partials/footer') %>